@using Microsoft.AspNet.Identity
@model IExam.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "col-sm-12 col-md-12 form-control", @value = Model.FirstName }, })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "col-sm-12 col-md-12 form-control", @value = Model.LastName }, })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FN, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.FN, new { htmlAttributes = new { @class = "col-sm-12 col-md-12 form-control", @value = Model.FN }, })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IdentityNumber, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.IdentityNumber, new { htmlAttributes = new { @class = "col-sm-12 col-md-12 form-control", @value = Model.IdentityNumber }, })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-2 col-sm-2 col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}
