@model IExam.Models.Video

@*<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>*@

@if (Model != null)
{
    @*<object width="640" height="360" id="movie_player">
        <param name="movie" value="@Model.link" />
        <param name="allowFullScreen" value="true" />
        <param name="allowscriptaccess" value="always" />
        <embed width="640" height="360" src="@Model.link" class="youtube-player" type="text/html" allowscriptaccess="always" allowfullscreen="true" />
    </object>*@
    @*<iframe src="//www.youtube.com/embed/@Model.link" id="movie_player"></iframe>*@
    <iframe src="@Model.link" id="movie_player"></iframe>
    @*<iframe id="movie_player" type="text/html" src="@Model.link" frameborder="0"></iframe>*@
    <input type="hidden" value="@Model.VideoID" id="selectedVideoInPlayerID">
    <input type="hidden" value="@Model.link" id="selectedVideoInPlayerLink">
}

<div id="videoComents"></div>

<script>
    $(window).resize(function () {
        $('iframe').width($('#videosPlayerContainer').width());
        $('iframe').height($('iframe').width() * 3 / 4);
        $('#videoComents').width($('iframe').width());
    })
</script>